<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Assignment 1</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />
</head>
<body>
<center><h1><ins>My Home Page</ins></h1>
<b><a href="{% url 'word_bank:index' %}">App Word Bank Online</a><br><br>
<a href="/admin/">Admin Page</a></b>
</center>
</body>
</html>
