<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Word Page</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'word_bank/style.css' %}" />
</head>
<body>
<h1>Add Your Word</h1>
<Form action="{% url 'word_bank:add_word_page' %}" method="post">
    {% csrf_token %}
Word :<br>
<input type='text' name='word' size='40' autofocus required><br><br>
  type : <select name="meaning_type">
    <option value="n">noun</option>
    <option value="v">verb</option>
    <option value="adv">adverb</option>
    <option value="adj">adjective</option>
    <option value="prep">preposition</option>
  </select><br><br>
Meaning :<br><input type='text' name='meaning' size='40' required>
<h2>Sample Sentence :</h2>
<input type='text' name='sample_sentence'  size="40" required><br><br>

<input type='submit' value='Submit'></form><br>

{% if error_message %}
    <b>{{error_message}}</b>
{%endif%}
<br><br>
<a href="../">Back Page</a>
</body>
</html>