<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Word Detail</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'word_bank/style.css' %}" />
</head>
<body>
<h1><ins>Word Detail</ins></h1>
<b>Find Word :</b> {{word.word_text}}<br><br>
       <b>Meaning : </b> {% for meaning in word.meaning_set.all %}
            <ul>
                <li>({{meaning.meaning_type}}) {{meaning.meaning_text}} : {{meaning.sample_sentence_text}}</li> <br>
                </ul>
            {%endfor%}
<br>
<a href="{%url 'word_bank:index' %}"><b>Back To Find Word Page</b></a>
</body>
</html>