<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Words List</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'word_bank/style.css' %}" />
</head>

<h1><ins>Words list</ins></h1>
<h3>Find Word : {{word_search}}</h3>
{% if words %}
    {% for word in words %}
       <li> <b><a href="{% url 'word_bank:detail' word.word_text %}">{{word.word_text}}</a></b></li><br>
        {% endfor %}
{% else %}
    <b>No Results</b>
{% endif %}
</body>
</html>