<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Word Bank Online</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'word_bank/style.css' %}" />
</head>
<body>
<h1><ins>Welcome to Word Bank Online</ins></h1>
<br>
<Form action="{% url 'word_bank:find_word' %}" method="get">
<b>Find Word:<br></b>
<input type='text' name='word' size='40' autofocus required>
<input type='submit' value='Submit'>
</form><br>
<b><a href="{% url 'word_bank:add_word_page' %}">Add Word Page</a></b><br><br>
<b><a href="{% url 'word_bank:show_all_word' %}">Show All Word</a></b><br><br>
<b><a href="{% url 'word_bank:save_load_csv_page' %}">Save Or Load Word With CSV File</a></b><br><br>
<b><a href="{% url 'home:home_page' %}">Home Page</a></b>

<h3><ins>4 Frequently search Word</ins></h3>
{% if all_word %}
    {% for word in all_word %}
   <li> <b><a href="{% url 'word_bank:detail' word.word_text %}">{{word.word_text}}</a></b></li><br>
    {% endfor %}
{% endif %}

<h3><ins>4 Lastest search Word</ins></h3>
{% if last_words %}
    {% for word in last_words %}
   <li> <b><a href="{% url 'word_bank:detail' word.word_text %}">{{word.word_text}}</a></b></li><br>
    {% endfor %}
{% endif %}
</body>
</html>