<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Save or Load Word</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'word_bank/style.css' %}" />
</head>
<body>
<h1><ins>Load Word From File(Upload)</ins></h1>

<form action="{% url 'word_bank:write_upload_file_for_load_word' %}" method="post" enctype="multipart/form-data">
             {% csrf_token %}
            Select type File:
            <select name="file_type" >
                <option value="csv" selected>csv</option>
                <option value="xml">xml</option>
            </select>
            <input type="file" name="file" id="file">
            <input type="submit"  value="Upload File" name="submit">
</form><br>
{% if request.session.load %}
    <b>{{request.session.load}}</b>
{% endif %}
<br>
<hr>
<h1><ins>Save Word to File(Download)</ins></h1>
<form>
    <input type="checkbox" name="sort" value="a-z"> sort a-z
    <input type="submit" value="Save Word To CSV File" name="submit" formaction="{% url 'word_bank:save_csv_file' %}">
    <input type="submit" value="Save Word To XML File" name="submit" formaction="{% url 'word_bank:save_xml_file' %}">
    <input type="submit" value="Save Word To Standard XML File" name="submit" formaction="{% url 'word_bank:standard_save_xml_file' %}">
</form><br>
<hr><br>
<a href="{%url 'word_bank:index' %}"><b>Back To Find Word Page</b></a>
</body>
</html>
