<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show All Word</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'word_bank/style.css' %}" />
</head>
<body>

<h1><ins>Show All Word</ins></h1>
{% if all_word %}
    {% for word in all_word %}
   <li> <b><a href="{% url 'word_bank:detail' word.word_text %}">{{word.word_text}}</a></b></li><br>
    {% endfor %}
{% endif %}
</body>
</html>
